.header {
  background-color: none;
  height: 50px;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-center-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10vw;
}

.header-right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.button {
  width: 12vw;
  height: 40px;
  border-radius: 8px;
}
