.header-container {
  display: flex;
  flex-direction: column;
  background: #030512;
}
.home-top-background {
  background: #613e5e;
  background: linear-gradient(90deg, #613e5e 20%, #c65060 100%);
  width: 100%;
  height: 100vh;
  padding-top: 5%;
}

.home-bottom-background {
  background: linear-gradient(180deg, #040718 0%, #02030d 100%);
  box-shadow: 100px 100px 100px;
  width: 100%;
  height: 300vh;
}

.parallax-container {
  position: absolute;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.parallax-container img {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#heading-1 {
  position: absolute;
  font-size: 54px;
  background-image: linear-gradient(to right, #f262c6 0%, #f4767d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 5%;
}

#heading-2 {
  position: absolute;
  font-size: 54px;
  background-image: linear-gradient(to right, #f262c6 0%, #f4767d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 5%;
}

#heading-3 {
  position: absolute;
  font-size: 14px;
  letter-spacing: 2%;
  color: white;
  bottom: 5%;
}

#layer-7 {
  position: absolute;
  right: 8%;
  top: 25%;
  background: linear-gradient(0deg, #c65060 0%, white 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
