.orbit-wrap {
  height: 50em;
  list-style: none;
  font-size: 1.3em;
}

.card {
  background: rgba(158, 0, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #9e00ff;
  border-radius: 5px;
  width: 12vw;
}

.orbit-wrap li:nth-child(2) .card {
  background: rgba(0, 255, 10, 0.2);
  border: 1px solid #00ff0a;
}

.orbit-wrap li:nth-child(3) .card {
  background: rgba(255, 97, 0, 0.2);
  border: 1px solid #ff6100;
}

.orbit-wrap li:nth-child(4) .card {
  background: rgba(255, 153, 0, 0.2);
  border: 1px solid #ff9900;
}

.orbit-wrap li:nth-child(5) .card {
  background: rgba(0, 87, 255, 0.2);
  border: 1px solid #0057ff;
}

.orbit-wrap li:nth-child(6) .card {
  background: rgba(0, 255, 178, 0.2);
  border: 1px solid #00ffb2;
}
.orbit-wrap li:nth-child(7) .card {
  background: rgba(0, 240, 255, 0.2);
  border: 1px solid #00f0ff;
}

.orbit-wrap li:nth-child(8) .card {
  background: rgba(250, 255, 0, 0.2);
  border: 1px solid #faff00;
}

.industries-card {
  background: rgba(236, 32, 35, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #ec2023;
  border-radius: 5px;
  height: 5vh;
}
