.header-container {
  display: flex;
  flex-direction: column;
  background: #030512;
}

.home-bottom-background {
  background: linear-gradient(180deg, #040718 0%, #02030d 100%);
  box-shadow: 100px 100px 100px;
  width: 100%;
  height: 300vh;
}
