.poppins {
  font-family: 'Poppins';
}

.poppins-semibold {
  font-family: 'PoppinsSemiBold';
}

.poppins-black {
  font-family: 'PoppinsBlack';
}

.poppins-bold {
  font-family: 'PoppinsBold';
}

.poppins-medium {
  font-family: 'PoppinsMedium';
}
.poppins-thin {
  font-family: 'PoppinsThin';
}

.poppins-light {
  font-family: 'PoppinsLight';
}
